* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;

    background: linear-gradient(to right, #792bad 20%, #873db2 40%, #8638b3 60%, #8839b8 80%);
    background-size: 100% auto;
} 

input {
    all: unset;
}

#top-bar {
    flex-basis: 8vh;
    flex-shrink: 1;
    
    padding: 1rem;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;

    background-color: rgb(208, 205, 205);
}

#input-box {
    width: calc(100% - 6rem);
    height: 12vh;
    background-color: white;
    color: grey;
    padding-right: 6rem;
    text-align: right;
    font-size: 5vmin;
}

#button-container {
    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80vh;
    
    padding-top: 2%;
}

#info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-shrink: 1;
    padding: 7%;
    padding-top: 2%;
}

#previous-entries {
    flex-basis: calc(33vmin + 2rem);
    background-color: whitesmoke;
    margin: 0.5rem;
    border-radius: 1rem;
    border: solid 0.2rem rgb(41, 41, 41);
}

#variables {
    flex-basis: calc(22vmin + 1rem);
    background-color: whitesmoke;
    margin: 0.5rem;
    border-radius: 1rem;
    border: solid 0.2rem rgb(41, 41, 41);
}

#button-pad {
    display: flex;
    flex-basis: 50%;
    padding: 4%;
    padding-top: 2%;
    justify-content: center;
}

#button-pad button {
    margin: 0.5rem;
    height: 11vmin;
    width: 11vmin;
    border-radius: 1rem;
    border: solid 0.2rem rgb(41, 41, 41);
    font-size: 3vmin;
    font-weight: bold;
}

#right-buttons div {
    display: flex;
    flex-grow: 1;
    width: auto;
}

#left-buttons {
    display: flex;
    flex-direction: column;
}

#button-pad #enter-button {
    flex-basis: calc(33vmin + 2rem);
}

#button-pad #backspace-button {
    flex-basis: calc(22vmin + 1rem);
}

#clear-button {
    flex-grow: 1;
    width: auto;
}
